{{template "base_plain" .}}
{{define "content"}}
     <div class="d-flex justify-content-center">
        <div class="col-md-12 col-lg-4">
            <form id="login" class="needs-validation" novalidate action="/member/login" method="POST">
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                <div class="mb-3 row">
                    <div class="col-sm-12">
                        <label for="user_name" class="form-label">User Name</label>
                        <input required type="text" class="form-control" id="user_name" name="user_name"
                            placeholder="" value="" required>
                        <div class="invalid-feedback">
                            User name is required.
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-sm-12">
                        <label for="password" class="form-label">Password</label>
                        <input required type="password" class="form-control" id="password" name="password"
                            placeholder="" value="" required>
                        <div class="invalid-feedback">
                            Password is required.
                        </div>
                    </div>
                </div>
                <div class="d-grid col-3 mx-auto">
                    <button class="btn btn-success" id="sign_in" name="sign_in" type="submit">Sign In</button>
                </div>
            </form>
        </div>
    </div>
{{end}}

{{define "js"}}
    <script>
        document.getElementById("sign_in").addEventListener("click", function() {
            let form = document.getElementById("login");
            if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
                form.classList.add('was-validated');
            } 
        }); 
    </script>
{{end}}
