{{template "base" .}}
{{define "content"}}
    <div class="d-flex justify-content-center">
        <div class="col-md-7 col-lg-8">
            <form id="upsert_form" class="needs-validation" novalidate  action="" method="">
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                <input type="hidden" id="id" name="id" value="{{$.Data.member.Id}}">
                <div class="d-flex justify-content-center">
                    <div class="row g-3">
                        <div class="col-md-2">
                            <label for="title" class="form-label">Title</label>
                            <select class="form-select" id="title" name="title" required>
                                <option value="">Choose...</option>
                                <option value="Mr." {{if eq $.Data.member.Title "Mr."}} selected="selected"{{end}}>Mr.</option>
                                <option value="Ms."  {{if eq $.Data.member.Title "Ms."}} selected="selected"{{end}}>Ms.</option>
                                <option value="Mrs."  {{if eq $.Data.member.Title "Mrs."}} selected="selected"{{end}}>Mrs.</option>
                                <option value="Miss." {{if eq $.Data.member.Title "Miss."}} selected="selected"{{end}}>Miss.</option>
                                <option value="Dr."  {{if eq $.Data.member.Title "Dr."}} selected="selected"{{end}}>Dr.</option>
                                <option value="Prof."  {{if eq $.Data.member.Title "Prof."}} selected="selected"{{end}}>Prof.</option>
                            </select>
                            <div class="invalid-feedback">
                                Please choose title.
                            </div>
                        </div>

                        <div class="col-sm-5">
                            <label for="first_name" class="form-label">First name</label>
                            <input required type="text" pattern="^[A-Za-z -]+$" class="form-control" id="first_name" name="first_name"
                                placeholder="" value="{{$.Data.member.FirstName}}" required>
                            <div class="invalid-feedback">
                                Please enter first name.
                            </div>
                        </div>

                        <div class="col-sm-5">
                            <label for="last_name" class="form-label">Last name</label>
                            <input required type="text" pattern="^[A-Za-z -]+$" class="form-control" id="last_name" name="last_name"
                                placeholder="" value="{{$.Data.member.LastName}}" required>
                            <div class="invalid-feedback">
                                Please enter last name.
                            </div>
                        </div>

                        <div class="col-sm-5">
                            <label for="dob" class="form-label">Date of Birth</label>
                            <input type="text" class="form-control" id="dob" name="dob" placeholder="" value="{{$.Data.member.Dob}}">
                            <div class="invalid-feedback">
                                Please select date of birth.
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <label for="gender" class="form-label">Gender</label>
                            <select class="form-select" id="gender" name="gender" required>
                                <option value="">Choose...</option>
                                <option value="Male" {{if eq $.Data.member.Gender "Male"}}selected="selected"{{end}}>Male</option>
                                <option value="Female" {{if eq $.Data.member.Gender "Female"}}selected="selected"{{end}}>Female</option>
                            </select>
                            <div class="invalid-feedback">
                                Please choose gender.
                            </div>
                        </div>

                        <div class="col-sm-5">
                            <label for="doj" class="form-label">Date of Join</label>
                            <input type="text" class="form-control" id="doj" name="doj" placeholder="" value="{{$.Data.member.Doj}}"
                                required>
                            <div class="invalid-feedback">
                                Please select date of join.
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="address" class="form-label">Address</label>
                            <input required type="text" pattern="^[0-9A-Za-z /,-]+$" class="form-control" id="address1" name="address1"
                                value="{{$.Data.member.Address1}}" placeholder="">
                            <div class="invalid-feedback">
                                Please enter member address.
                            </div>
                        </div>

                        <div class="col-6">
                            <label for="address2" class="form-label">Address 2 <span
                                    class="text-muted">(Optional)</span></label>
                            <input type="text" pattern="^[0-9A-Za-z /,-]+$" class="form-control" id="address2" name="address2"
                                value="{{$.Data.member.Address2}}" placeholder="">
                        </div>

                        <div class="col-6">
                            <label for="area" class="form-label">Area<span
                                    class="text-muted">(Optional)</span></label>
                            <input type="text" pattern="^[A-Za-z -]+$" class="form-control" id="area" name="area"
                                value="{{$.Data.member.Area}}" placeholder="">
                        </div>

                        <div class="col-md-4">
                            <label for="country" class="form-label">Country</label>
                            <select class="form-select" id="country" name="country" required>
                                <option value="">Choose...</option>
                                {{range .Countries}}
                                    <option value={{.IsoCode}} {{if eq $.Data.member.Country .IsoCode }} selected="selected" {{end}}>{{.Name}}</option>
                                {{end}}
                            </select>
                            <div class="invalid-feedback">
                                Please choose country.
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="state" class="form-label">State</label>
                            <select class="form-select" id="state" name="state" required>
                                <option value="">Choose...</option>
                                {{range .States}}
                                    <option value={{.IsoCode}} {{if eq $.Data.member.State .IsoCode}} selected="selected" {{end}}>{{.Name}}</option>
                                {{end}}
                            </select>
                            <div class="invalid-feedback">
                                Please choose state.
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="city" class="form-label">City</label> 
                            <span class="text-muted">(Optional)</span>
                            <select class="form-select" id="city" name="city" >
                                <option value="">Choose...</option>
                                {{range .Cities}}
                                    <option value={{.Name}} {{if eq $.Data.member.City .Name}} selected="selected" {{end}}>{{.Name}}</option>
                                {{end}}
                            </select>
                            <div class="invalid-feedback">
                                Please choose city.
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label for="postal_code" class="form-label">Postal Code</label> <span
                                    class="text-muted">(Optional)</span></label>
                            <input type="number" class="form-control" id="postal_code" name="postal_code"
                                value="{{$.Data.member.PostalCode}}" placeholder="">
                            <div class="invalid-feedback">
                                Please enter post code.
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <label for="contact_number" class="form-label">Contact Number</label>
                            <div class="input-group">
                                <span class="input-group-text" id="dial_code_span">{{$.Data.member.DialCode}}</span>
                                <input type="hidden" id="dial_code" name="dial_code" value="{{$.Data.member.DialCode}}">
                                <input type="number" class="form-control" min=0 id="contact_number" name="contact_number" 
                                    value="{{$.Data.member.ContactNumber}}" placeholder="" required>
                            </div>
                            <div class="invalid-feedback">
                                Please enter contact number.
                            </div>
                        </div>

                        <div class="col-sm-5">
                            <label for="email" class="form-label">Email <span
                                    class="text-muted">(Optional)</span></label>
                            <input type="email" class="form-control" id="email" name="email" value="{{$.Data.member.Email}}" placeholder="">
                            <div class="invalid-feedback">
                                    Please enter valid email address.
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-6">
                <div class="d-grid gap-2 col-2 d-md-flex mx-auto">
                    <button id="save-btn" class="btn btn-success" type="button">Save</button>
                    <button id="cancel-btn" class="btn btn-success" type="button">Reset</button>
                </div>
            </form>
        </div>
    </div>
{{end}}
{{define "js"}}
    <script>
        let notify = Prompt()
        const dob = document.getElementById('dob');
        const dob_datepicker = new Datepicker(dob, {
            format: "dd-mm-yyyy",
        });
        const doj = document.getElementById('doj');
        const doj_datepicker = new Datepicker(doj, {
            format: "dd-mm-yyyy",
        });

        document.getElementById("cancel-btn").addEventListener("click", function() {
            if (document.getElementById("id").value == "") {
                window.location.replace("/member/register")
            } else {
                document.getElementById("upsert_form").reset()
            }
        })

        document.getElementById("save-btn").addEventListener("click", function() {
            let form = document.getElementById("upsert_form");
            if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
                form.classList.add('was-validated');
            } else {
                let form = document.getElementById("upsert_form");
                let formData = new FormData(form);
                formData.append("csrf_token","{{.CSRFToken}}")
                fetch('/member/upsert', {
                    method: "post",
                    body: formData,
                })
                .then(response => response.json())
                .then(data => {
                    if (data.ok) {
                        notify.success({
                            title: "Success",
                            msg: data.message,
                            footer: "",
                        })
                    } else {
                        notify.error({
                            title: "Error",
                            msg: data.message,
                            footer: "",
                        })
                    }
                })
                .catch(error => {
                    notify.error({
                        title: "Error",
                        msg: "Internal Server Error. Please try later or get in touch with system adminstrator",
                        footer: "",
                    })
                });
            }
        }); 
        

        function Prompt() {
            let success = function (c) {
                const {
                    msg = "",
                    title = "",
                    footer = "",
                } = c

                Swal.fire({
                    icon: 'success',
                    title: title,
                    text: msg,
                    footer: footer,
                    didClose: () => {
                        if (document.getElementById("id").value == "") {
                            window.location.replace("/member/register")
                        }
                    },
                })
                
            }

            let error = function (c) {
                const {
                    msg = "",
                    title = "",
                    footer = "",
                } = c

                Swal.fire({
                    icon: 'error',
                    title: title,
                    text: msg,
                    footer: footer,
                })
            }

            let warning = function (c) {
                const {
                    msg = "",
                    title = "",
                    footer = "",
                } = c

                Swal.fire({
                    icon: 'warning',
                    title: title,
                    text: msg,
                    footer: footer,
                })
            }

            return {
                success: success,
                error: error,
                warning: warning,
            }
        }
    </script>
    <script type="text/javascript" src="/static/js/countrystate.js"></script>
{{end}}
